.container{
    text-align: center;   
}

.calculator{
    background: hsl(215deg 20% 15%);
    width: 360px;
    height: 525px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: -2px 2px 15px #fffde79e, 2px -1px 15px #fff8e100
}
.display-screen{
    justify-items: center;
    margin: auto;
    height: 70px;
    width: 330px;
    background-color: #ffffff6d; 
    border-radius: 10px;  
    font-family: cursive;
    
}
#display{
    display: flex;
    justify-content: flex-end;
    font-size: 51px;
    font-family:'Times New Roman', Times, serif;
    
}
table{
    margin: auto;
    border: 20px;
    padding: 20px;
    border-radius: 50px;

}

.btn-operator{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -6px -2px 15px #fbe9e742,-1px 5px 15px #4adcefd4 ;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    font-family: cursive;
}

.btn-number{
    color: black;
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    box-shadow: -6px -2px 15px  #fffde71c,-1px 5px 15px #74a876;;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    font-family: cursive;
}
.btn-equal{
    border: 0;
    outline: 0;
    width: 60px;
    height: 140px;
    box-shadow: -6px -2px 15px rgba(255, 255, 255,  0.1),-1px 5px 15px #e8f5e9 ;
    background: transparent;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    font-size: 23px;
    border-radius: 20px;
    font-family: cursive;
}

.footer{
    text-align: center;
    font-family: cursive;
    font-size: 23px;
}

body {
    height: 100%;
    /* background-image: linear-gradient( to bottom right, rgb(51, 163, 176),#880e0e); */
}

h1{
    font-family: cursive;
}
a[href = 'https://www.linkedin.com/in/rohit-yadav-b618a5223/']{
    color: rgb(1, 1, 1);
}

